@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font: var(--font-m);
  background: var(--second-bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

a,
button {
  cursor: pointer;
}
