.button {
  border-radius: 0.25rem;
}


.size {
  &_small {
    padding: 0.75rem 2.44rem;
  }
  &_medium {
    padding: 0.75rem 4.47rem;
  }
  &_large {
    padding: 0.75rem 7.59rem;
  }
  &_icon {
    padding: 0.75rem;
  }
}

.variant {
  &_fill{
    background: var(--color-style-primary-base-800);
    color: var(--color-style-primary-100);
  }
  &_line {
    outline:  1.5px solid var(--color-style-primary-base-800);
    outline-offset: -1.5px;
  }
  &_ghost {
    color: var(--color-style-primary-base-800);
  }
  &_disable {
    background: var(--color-style-primary-base-300);
    color: var(--color-style-primary-100)
  }
}