.button {
  border-radius: 0.25rem;
  font: var(--font-button);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size {
  &_small {
    min-width: 8.563rem;
    max-width: 8.563rem;
    padding: 0.75rem 2rem;
  }
  &_medium {
    min-width: 12.625rem;
    max-width: 12.625rem;
    padding: 0.75rem 2rem;
  }
  &_large {
    min-width: 18.875rem;
    max-width: 18.875rem;
    padding: 0.75rem 2rem;
  }
  &_icon {
    padding: 0.75rem;
  }
}

.icon {
  &_right {
    svg {
      margin-left: 0.5rem;
    }
  }
  &_left {
    margin-right: 5rem;
  }
}

.variant {
  &_fill{
    background: var(--color-style-primary-800);
    color: var(--color-style-primary-100);
  }
  &_line {
    outline:  1.5px solid var(--color-style-primary-800);
    outline-offset: -1.5px;
  }
  &_ghost {
    color: var(--color-style-primary-800);
  }
  &_disable {
    background: var(--color-style-primary-300);
    color: var(--color-style-primary-100)
  }
}