.book {
  padding: 2rem 0;
  &_wrapper {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
  }
  &_peak {
    display: flex;
    align-items: center;
    justify-content: center;
    &_img {
      padding: 4rem;
      background-color: var(--color-style-primary-100);
      img {
        width: 21.5rem;
        height: 28.25rem;
      }
    }
  }
  &_info {
    padding-left: 1.5rem;
    &_addBook {
      margin-top: 2rem;
    }
    &_author {
      font: var(--font-subtitle-2);
      color: var(--color-style-primary-500);
    }
    &_title {
      margin-top: 1rem;
      font: var(--font-header-2);
      color: var(--color-style-primary-700);
    }
    &_price {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      font: var(--font-header-3);
      color: var(--color-style-primary-700);
    }
    &_line {
      margin-top: 1.5rem;
      border-top: var(--border-line);
    }
    &_infoProduct {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem 0.7rem;
    }
    &_categories {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
    &_product {
      display: grid;
      grid-template-columns: 1fr 1.5fr 2fr;
      gap: 2rem;
      &_count {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &_value {
          display: flex;
          border: var(--border-line);
          border-radius: var(--border-radius);
          padding: 0.625rem 0.5rem;
          justify-content: space-between;
          align-items: center;
          .count {
            font: var(--font-subtitle-3);
            color: var(--color-style-primary-800)

          }
        }
      }
      .value {
        font: var(--font-header-3);
        color: var(--color-style-primary-700);
      }
    }

  }
}

.line {
  position: relative;
  display: inline-block;
  &:after {
    content: " ";
    background: var(--color-style-primary-200);
    width: 1px;
    min-height: 100vh - 20vh;
    top: -32px;
    right: 0;
    position: absolute;
  }
}

.infoProduct {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &_value {
    font: var(--font-subtitle-2);
    color: var(--color-style-primary-700);
  }
}

.label {
  font: var(--font-subtitle-4);
  color: var(--color-style-primary-500);
}