.header {
  background: var(--color-style-primary-100);
  border-bottom: var(--border-line);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.25rem 0;
  }
}